
*{
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*
? ----------------------------- Nav bar ----------------------*/


/*
? ----------------------------- Section -----------------------------*/
.body-section-product{
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
   
}

.box-product{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 80%;
    height: auto;
    padding: 5em 0em;
}
/*
?--------------------------------- Producto -------------------------*/

/* 
* Cuerpo del product */

.body-product{
    display: flex;
    float: left;
    background-color: #e0e6ec;
    border-radius: 30px 20px 20px 30px;
    max-height: 8em;
    min-height: 8em;
    min-width: 40em;
    max-width: 40em;
    margin: auto;
    box-shadow: 1px 10px 10px 1px #0a002c;
   
}

/* 
* Imagen del product */

.imagen-product{
    min-width: 10em;
    max-width: 10em;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    z-index: 500;
}

/* 
* Nombre del product */

.product-name, .product-description{
    color: #e0e6ec;
    
}
.product-name{
    font-size: 1.2em;
    font-weight: bold;
}
.product-description{
    font-size: 0.8em;
    font-weight: 500;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 5em;
    max-height: 5em;
    max-width: 18em;
    background-color: #0028557c;
    padding: 0.5em;
    font-size: 0.75em;
    border-radius: 10px;
    scrollbar-width: thin;
    scrollbar-color: #001233 transparent; 
    transform: translateX(5%);
    color: #dddee1;
    
}
.product-description::-webkit-scrollbar-thumb {
    background: #001233; /* Color del deslizador */
    border-radius: 10px; /* Bordes redondeados del deslizador */
}

.product-description::-webkit-scrollbar-thumb:hover {
    background: #0466C8; /* Color del deslizador cuando se pasa el ratón por encima */
}
.name-and-description{
    min-width: 20em;
    max-width: 20em;
    min-height: 100%;
    max-height: 100%;
    background-image: linear-gradient(to left, #0466c8a4 , #023d7dd5);
    padding: 1em 1.5em;
    transform: translateX(-3.5%);
    border-radius: 0px 30px 30px 0px;
}

/*
? ------------------- System sum and rest --------------*/

.operations-and-price{
    display: flex;
    justify-content: center;
    gap: 0.5em;
    float: left;
    min-width: 5em;
    max-width: 5em;
    max-height: 1.5em;
    transform: translateY(1em);
    background-color: #002855;
    border-radius: 50px;
    padding: 0.5em 2em;
}
.contador{
    
    color: azure;
    font-size: 1em;
    font-weight: 600;
    max-width: 1.5em;
    max-height: 1.5em;
    transform: translateY(-0.5em);

}
.button-operations{
    background-color: transparent;
    border: none;
    color: azure;
    font-size: 1em;
    font-weight: 600;
    min-width: 1em;
    min-height: 1.5em;
    
    transform: translateY(-0.5em);

}

.price-and-buttons{
    
    display: flex;
    flex-direction: column;
    gap: 3.5em;
    justify-content: end;
    align-items: end;
   
  }
  .precio{
    color: rgb(0, 72, 0);
    font-size: 1em;
    font-weight: bold;
    justify-content: end;
    align-items: center;
  }
  @media(max-width: 800px){
    .box-product{
        gap: 4em;
        
    }
    .body-section-product{
        max-width: 100vw;
    }
    .body-product{
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
        gap: 0em;
        min-height: 22em;
        max-height: 22em;
        border-radius: 30px 30px 20px 20px;
    }
    .product-description{
        min-width: 100%;
        max-width: 100%;
        font-size: 0.8em;
        min-height: 6em;
        max-height: 6em;
        transform: translateX(0);
    }
    .name-and-description{
        min-width: 100%;
        max-width: 100%;
        min-height: 10em;
        max-height: 10em;
        border-radius: 0px 0px 20px 20px;
        transform: translateX(0) translateY(-6%);
        padding: 1.5em 1em;
        
    }
    .price-and-buttons{
        position: relative;
        display: flex;
        float: left;
        max-height: 2em;
        width: 100%;
        margin: auto;
        gap: 0.5em;
        padding: 1em;
    }
  
    .imagen-product{
        min-width: 100%;
        min-height: 7em;
    }
    .precio{
        position: absolute;
        left: 1em;
        bottom: -0.7em;
        font-size: 1.4em;
    }
  }