
<section class="body-section-product">
    <!-- Box productos-->
    <main class="box-product">

        <!-- Producto -->
        <article class="body-product" *ngFor="let product of this.Lista.productos">
            <!-- Imagen del producto -->
            <header class="imagen-product" style="background-image: url(../../assets/img/{{product.img}}.webp);"></header>
            
            <!-- Informacion del producto -->
            <div class="name-and-description">

                <!-- Nombre y descripcion -->
                <h3 class="product-name">{{product.name}}</h3>
                <p class="product-description">{{product.description}}</p>
            
            </div>

          
            <!-- Systema de agregar producto -->
            <footer class="price-and-buttons">
                <header class="operations-and-price">
                    <button id="restar" class="button-operations" (click)="product.restar()"> - </button>

                    <p class="contador" id="contador">  {{product.cantidad}} </p>

                    <!-- Producto -->
                    <button id="sumar" class="button-operations" (click)="product.sumar()">  + </button>
                </header>
                
                <p class="precio">${{product.price}}</p>
                
                <!-- Boton para restar-->
                
                
            </footer>

        </article>

    </main>

</section>