
.heder-banner{
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh; 
    overflow: hidden;
}


.body-section-banner{ 
    position: relative;
    display: flex;
    float: left;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;  
    overflow: hidden;
}

.body-section-banner > * {
    z-index: 10;
}
/*-------------------- BODY TEXT AND BODY IMAGE -----------------------*/


.body-welcome{
background-image: linear-gradient(to right, #001233db 25%, #0466c800);
position: absolute;
display: flex;
flex-direction: column;
gap: 1em;
justify-content: start;
align-items: start;
text-align: start;
width: 100%;
height: 100%;
top: 0;
left: 0;
padding: 4em;
z-index: 1000;
border-radius: 0px 0px 100px 100px;
}
.body-welcome > * {
    z-index: 1000;
}


/*-------------------- TEXT/CONFIG -----------------------*/

.title-banner{
font-size: 4em;
font-weight: bold;
color: #d3d3d3;
}
.dulce{
    font-weight: bold;
    background: linear-gradient(to right, #0466C8, #2090ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.description-banner{
font-size: 1.3em;
font-weight: 600;
max-width: 25em;
color: #e9e9e9ea;
}

.pedirYa{   
    border-radius: 20px;
    background-image: linear-gradient(to right, #049ac8, #2090ff);
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0em 1.5em;
    

}
.carrito{
    width: 1.5em;
    height: auto;
}

.left-banner{
    position: relative;
    height: 100%;
    width: 100vw;
    background-image: url(../../assets/img/bg.webp);
    background-position: center;
    background-repeat: center;
    background-size: cover;
    z-index: -1;
    border-radius: 0px 0px 100px 100px;
}

@media (max-width: 800px){
    .body-section-banner{
        flex-direction: column;
    }
    .body-welcome{
        max-width: 100%;
        padding:4em 2em;
        gap: 1em;
        z-index: 1;
        border-radius: 20px;
    }
    .left-banner{
        min-width: 100%;
        border-radius: 20px;
        max-width: 100%;
        

    }
   
    .title-banner{
        font-size: 2.1em;
    }
    .cotainer-button-banner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
   
  }