
<header class="header-banner">      
    <main class="body-section-banner">
                
        <div class="left-banner">
            <article class="body-welcome">
                <h1 class="title-banner">SI BUSCAS ALGO <br><span class="dulce">DULCE</span></h1>
                <p class="description-banner"> En Briksis, hacemos que cada día se sienta especial con nuestros deliciosos helados y postres caseros. Estamos en el corazón de la ciudad, y nuestra heladería es el lugar ideal para disfrutar de sabores increíbles y pasar momentos inolvidables.</p>
                <a href="#productos" class="cotainer-button-banner"> 
                    <button class="pedirYa">
                        ¡Pedir Ya! 
                    </button>
                </a>
            </article>   
        </div>
    </main>    
</header>  

    
